body{
    margin: 0;
    padding: 0;
    color: #ffffff;
    /*color: var(--tg-theme-text-color);*/
    /*background: var(--tg-theme-bg-color);*/
}
.slidershow{
    width: 1200px;
    height: 1200px;
    overflow: hidden;
}
/*.middle{*/
/*    !*position: absolute;*!*/
/*    top: 20%;*/
/*    left: 40%;*/
/*    !*transform: translate(-50%, -50%);*!*/
/*}*/
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background: #fff;
}

.slides{
    width: 1600%;
    height: 100%;
    display: flex;
}

.slide{
    width: 6.25%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    /*padding: 2000px;*/
    /*padding-top: 200px;*/
    /*margin-top: 150px;*/
    /*height: 50%;*/
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -6.25%;
}
#r3:checked ~ .s1{
    margin-left: -12.5%;
}
#r4:checked ~ .s1{
    margin-left: -18.75%;
}
#r5:checked ~ .s1{
    margin-left: -25%;
}
#r6:checked ~ .s1{
    margin-left: -31.25%;
}
#r7:checked ~ .s1{
    margin-left: -37.5%;
}
#r8:checked ~ .s1{
    margin-left: -43.75%;
}
#r9:checked ~ .s1{
    margin-left: -50%;
}
#r10:checked ~ .s1{
    margin-left: -56.25%;
}
#r11:checked ~ .s1{
    margin-left: -72.5%;
}
#r12:checked ~ .s1{
    margin-left: -68.75%;
}
#r13:checked ~ .s1{
    margin-left: -75%;
}
#r14:checked ~ .s1{
    margin-left: -81.25%;
}
#r15:checked ~ .s1{
    margin-left: -87.5%;
}
#r16:checked ~ .s1{
    margin-left: -93.75%;
}
